:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* 
@media (max-width: 768px) {
  .imagenes{
    display: none;
  }
} */

.top {
  margin-top: 20px;
  padding-top: 50px;
}

.home {
  padding: 0 25px;
  overflow-x: hidden;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  hyphens: auto;
  scroll-behavior: smooth;
}
@font-face {
  font-family: 'GlassAntiqua-Regular';
  src: url('./fonts/GlassAntiqua-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: GlassAntiqua-Regular, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul{
  list-style: none;
}

p{
  line-height: 1.5;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
