:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary-color: #fff;
  --secondary-color: #222;
  --tertiary-color: rgb(255, 64, 96);
  --quaternary-color: rgb(255, 104, 129);
}

*::selection{
  color: var(--secondary-color);
  background-color: var(--tertiary-color);
}

.top {
  margin-top: 20px;
  padding-top: 50px;
}

.home {
  padding: 0 25px;
  overflow-x: hidden;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  hyphens: auto;
  scroll-behavior: smooth;
}


@font-face {
  font-family: 'GlassAntiqua-Regular';
  src: url('./fonts/GlassAntiqua-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: GlassAntiqua-Regular, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  line-height: 1.5;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (min-width: 768px) {
  .home {
    max-width: 1100px;
    margin: 0 auto;
  }

  p {
    line-height: 1.8;
    font-size: 1.2em;
  }

}
