.extra {
  display: none;
}

p {
  display: inline;
}

input[type='checkbox'] {
  height: 2em;
  display: block;
  appearance: none;
}

label {
  position: relative;
  padding: 1em;
  background-color: var(--tertiary-color);
  color: #000;
  border: 1px solid var(--tertiary-color);
  border-radius: 6px;
  cursor: pointer;
}

label::before {
  content: 'Read more';
}

input[type='checkbox']:checked + label::before {
  content: 'Read less';
}

.dots:has(~ input[type='checkbox']:checked) {
  display: none;
}

.extra:has(~ input[type='checkbox']:checked) {
  display: inline;
}

span {
  color: transparent;
  display: block;
  line-height: 1;
  position: relative;
  animation: animated 9s infinite;
}


@keyframes animated {
  0%,
  16.667%,
  100% {
    text-shadow: 0px 0px var(--tertiary-color),
      0px 0px 8px var(--tertiary-color);
  }
  33.333%,
  83.333% {
    text-shadow: 0px 0px var(--secondary-color);
  }
}

.what {
  animation-delay: 0s;
  text-align: left;
}

.is {
  animation-delay: 3s;
}

.iae {
  animation-delay: 6s;
  text-align: right;
}

.space {
  height: 30vh;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left {
  grid-column: 1/4;
  grid-row: 2/4;
}

.right {
  grid-column: 5/8;
  grid-row: 2/4;
}

.center {
  grid-column: 3/6;
  grid-row: 1/5;
  z-index: 10;
}

.home__section-main {
  gap: 100px;
  min-height: 90dvh;
}

.home__article-main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.home__title {
  font-size: 5rem;
  text-align: center;
}

.home__div-description,
.home__div-description2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.home__div-description2 {
  display: none;
}

.description-2,
.home__columns-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 100;
}

.home__button {
  background-color: transparent;
  border: 1px solid var(--tertiary-color);
  color: var(--tertiary-color);
  padding: 10px 15px;
  border-radius: 5px;
  align-self: center;
}

.home__button:focus {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
}

.home__video {
  width: 95%;
  border-radius: 20px;
}

.hp2 {
  background-image: url('/image/parallax-2.png');
}

.home__section-columns {
  gap: 25px;
  text-align: start;
}

.home__columns-title {
  font-size: 2rem;
  padding: 10px 0 50px 0;
  text-align: center;
}

.home__article {
  gap: 15px;
  align-items: start;
}

.home__article-subtitle {
  font-size: 1.3rem;
  align-self: center;
  color: var(--tertiary-color);
}

.home__grid {
  display: grid;
  margin: 0 auto;
  gap: 15px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  max-width: 600px;
  margin-top: 60px;
}

.home__figure {
  overflow: hidden;
  border-radius: 10px;
}

.image {
  mask-image: linear-gradient(black 80%, transparent);
}

.grid-1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.grid-2 {
  grid-column: 2/3;
  grid-row: 1/3;
}

.grid-3 {
  grid-column: 1/2;
  grid-row: 2/4;
}

.grid-5 {
  grid-column: 1/3;
  grid-row: 4/6;
}

.home__grid-2 {
  padding: 60px 0 50px 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

#what {
  margin-top: 400px;
  position: absolute;
}

@media (min-width: 768px) {
  .home__title {
    display: flex;
    gap: 25px;
    justify-content: center;
    font-size: 5.5rem;
  }

  .home__section-main {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 90vh;
  }

  .home__button {
    background-color: transparent;
    border: 1px solid var(--tertiary-color);
    color: var(--tertiary-color);
    padding: 15px 25px;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease;
    font-size: 1.2rem;
  }

  .home__button:focus {
    background-color: unset;
    color: var(--tertiary-color);
  }

  .home__button::after {
    content: '';
    position: absolute;
    transform: translate(-150%, 20%);
    width: 170px;
    height: 170px;
    background-color: var(--tertiary-color);
    border-radius: 9999px;
    z-index: -1;
    transition: transform 0.3s ease-in-out;
  }

  .home__button:hover::after {
    transform: translate(-55%, -40%);
  }

  .home__button:hover {
    color: var(--secondary-color);
  }

  .home__video {
    width: 50%;
  }

  .home__div-description {
    display: none;
  }

  .home__div-description2 {
    display: flex;
    padding: 50px 100px;
  }

  .home__section-columns {
    flex-direction: row;
    align-items: baseline;
    gap: 80px;
  }

  .home__columns-title {
    font-size: 2.5rem;
  }

  .home__article {
    gap: 30px;
    flex: 1;
  }

  .home__article-subtitle {
    font-size: 1.8rem;
    font-weight: 100;
    color: var(--quaternary-color);
  }

  .image {
    transition: opacity 0.3s ease, scale 0.3s ease;
  }

  .home__grid {
    margin-top: 150px;
    max-width: 850px;
  }

  .home__grid .image:hover {
    scale: 1.2;
  }

  .home__grid:hover > :not(:hover) {
    opacity: 0.3;
    box-shadow: 0 0 0 transparent;
  }

  .home__grid-2 {
    padding: 150px 0 60px 0;
    width: 750px;
  }
}
